// WHITE
$white: #FFFFFF;
$off_white: #FEFEFE;

// GREY
$ultra_light_grey: #CCCCCC;
$light_grey: #888888;
$medium_grey: #666666;
$dark_grey: #444444;
$very_dark_grey: #333333;

// PRIMARY
$red: red;
$blue: blue;
$green: green;
$pale-green: #ddffdd;
$pale-purple: #E7DDF2;

// links
$link_color: #3a1664;
$link_color_hover: #79589f;
$nav_link_color: #222222;
$nav_link_color_hover: #666666;
$nav_link_color_active: #FFFFFF;
