// WHITE
$white: #FFFFFF;
$off_white: #FEFEFE;

// GREY
$ultra_light_grey: #CCCCCC;
$light_grey: #888888;
$medium_grey: #666666;
$dark_grey: #444444;
$very_dark_grey: #333333;

// PRIMARY
$red: red;
$blue: blue;
$green: green;
$pale-green: #DDFFDD;
$pale-purple: #E7DDF2;

// LINKS
$link_color: #3A1664;
$link_color_hover: #79589f;
$nav_link_color: #222222;
$nav_link_color_hover: #666666;
$nav_link_color_active: #FFFFFF;

// BACKGROUNDS
$grid_item1_background_color: $pale-purple;
$grid_item2_background_color: #99CCFF;
$grid_item3_background_color: #9999FF;
$grid_item4_background_color: #CC99FF;
$grid_item5_background_color: #CCCCFF;

// BUTTONS
$site_button_color: #976bc7;
$search_button_nav: $nav_link_color_hover;
