// WHITE
$white: #FFFFFF;
$off_white: #FEFEFE;

// GREY
$light_grey: #888888;
$dark_grey: #444444;

// PRIMARY
$red: red;
$blue: blue;
$green: green;

// links
$link_color: #3a1664;
$link_color_hover: #79589f;
$nav_link_color: #222222;
$nav_link_color_hover: #666666;
$nav_link_color_active: #FFFFFF;
