// HEADINGS
$heading1: 3.5rem;
$heading2: 3rem;
$heading3: 2.5rem;
$heading4: 2rem;
$heading5: 1.5rem;

// PARAGRAPH
$x_small_font_size: 0.6rem;
$small_font_size: 0.8rem;
$medium_font_size: 1rem;
$normal_font_size: 1.4rem;
$large_font_size: 1.6rem;
$x_large_font_size: 1.8rem;

//
.error_text {
  background: rgba(255, 0, 0, 0.1);
  border: 1px solid red;
  border-radius: 5px;
  color: $red;
  font-size: $large_font_size;
  padding: 10px;
  margin: 10px 0;
}
