// Footer styles
footer {
  background: $dark_grey;
  color: $white;
  font-size: $small_font_size;
  height: 100px;

  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 49;

  .footer_content_holder {
    display: table;
    height: 100px;
    width: 100%;
    .footer_content {
      display: table-cell;
      position: relative;
      vertical-align: middle;
      .copyright {  }
      .social-icons {
        margin: 20px 0;
        text-align: center;
        a {
          background: $medium_grey;
          border: 10px solid $medium_grey;
          border-radius: 10px;
          color: $dark_grey;
          display:inline-block;
          height: 75px;
          margin: 10px;
          width: 75px;
          &:hover {
            background: $very_dark_grey;
            border: 10px solid $very_dark_grey;
            color: $medium_grey;
          }
        }
      }
      .footer_links {
        position: absolute;
        right: 20px;
        ul {
          display: flex;
          justify-content: space-between;
          width: 100%;
          margin: 0;
          padding: 0;
          li {
            display: block;
            flex: 0 1 auto; /* Default */
            list-style-type: none;
            margin-left: 10px;
            &:first-child {
              margin-left: 0;
            }
            a {
              color: $light_grey;
            }
          }
        }
      }
    }
  }

  @include respond-below(md) {
    height: 250px;
    position: relative;

    .footer_content_holder {
      height: 250px;
      .footer_content {
        .copyright {
          text-align: center;
        }
        .social-icons {
          text-align: center;
        }
        .footer_links {
          right:auto;
          position: relative;
          ul {
            justify-content: center;
            text-align: center;
          }
        }
      }
    }
  }
}
