// GRIDS:

// Landing page;
//____________________
.landing_grid_item1 { grid-area: a; }
.landing_grid_item2 { grid-area: b; }
.landing_grid_item3 { grid-area: c; }
.landing_grid_item4 { grid-area: d; }
.landing_grid_item5 { grid-area: e; }
.landing_grid_item6 { grid-area: f; }

.grid_container_landing {
  background-color: $grid_background_color;
  grid-gap: 0px;
  display: grid;

  grid-template-areas:
    'a'
    'b'
    'c'
    'd'
    'e'
    'f';
  padding: 0;
  width: 100vw;

  &> div {
    padding: 20px 0;
    text-align: center;
  }

  .landing_grid_item1,
  .landing_grid_item2,
  .landing_grid_item3,
  .landing_grid_item4,
  .landing_grid_item5 {
    border-bottom: 2px solid rgba(255, 255, 255, 0.8);
    min-height: 150px;
  }

  .landing_grid_item1 {
    min-height: 280px;
  }

  @include respond-above(sm)  {
    grid-template-areas:
      'a a'
      'b c'
      'd e'
      'f f';
    height: 100vh;

    .landing_grid_item1 {
      border-left: 0;
      border-bottom: 2px solid rgba(255, 255, 255, 0.8);
    }
    .landing_grid_item2 {
      border-right: 1px solid rgba(255, 255, 255, 0.8);
      border-bottom: 1px solid rgba(255, 255, 255, 0.8);
    }
    .landing_grid_item3 {
      border-left: 1px solid rgba(255, 255, 255, 0.8);
      border-bottom: 1px solid rgba(255, 255, 255, 0.8);
    }
    .landing_grid_item4 {
      border-right: 1px solid rgba(255, 255, 255, 0.8);
      border-top: 1px solid rgba(255, 255, 255, 0.8);
      border-bottom: 0;
    }
    .landing_grid_item5 {
      border-top: 1px solid rgba(255, 255, 255, 0.8);
      border-left: 1px solid rgba(255, 255, 255, 0.8);
      border-bottom: 0;
    }
    .landing_grid_item6 {
      border-top: 2px solid rgba(255, 255, 255, 0.8);
    }
  }

  @include respond-above(md) {
    grid-template-areas:
      'b c a'
      'b c a'
      'b c a'
      'b c a'
      'd e a'
      'd e a'
      'd e a'
      'd e a'
      'f f f';
    height: 100vh;
    .landing_grid_item1 {
      border-bottom: 0;
      border-left: 2px solid rgba(255, 255, 255, 0.8);
    }
    .landing_grid_item2 {
      border-right: 1px solid rgba(255, 255, 255, 0.8);
      border-bottom: 1px solid rgba(255, 255, 255, 0.8);
    }
    .landing_grid_item3 {
      border-left: 1px solid rgba(255, 255, 255, 0.8);
      border-bottom: 1px solid rgba(255, 255, 255, 0.8);
    }
    .landing_grid_item4 {
      border-right: 1px solid rgba(255, 255, 255, 0.8);
      border-top: 1px solid rgba(255, 255, 255, 0.8);
    }
    .landing_grid_item5 {
      border-top: 1px solid rgba(255, 255, 255, 0.8);
      border-left: 1px solid rgba(255, 255, 255, 0.8);
    }
    .landing_grid_item6 {
      border-top: 2px solid rgba(255, 255, 255, 0.8);
    }
  }
}
