.root {
  .main {
    &.fullscreen {
      background: $pale-purple;
      left: 0;
      height: 100%;
      position: absolute;
      top: 0;
      width: 100%;

      .duchess_logo_container {
        img {
          height: 50%;
          width: 100%;
        }
      }
    }
  }
}
