.button_container {
  margin: 20px 0;
}

.btn {
  &.generic, &.search_btn {
    background-color: transparent;
    border: 4px solid $site_button_color;
    border-radius: 0;
    color: $site_button_color;
    font-size: 1em;
    transition: all .2s;
    width: 280px;

    &.search_btn {
      background: transparent;
      border: 1px solid $white;
      color: $white;
      font-size: 0.8em;
      width: auto;

      &:hover {
        background: $search_button_nav;
        border: 1px solid $search_button_nav;
        color: $white;
      }
    }

    &:hover {
      background-color: $site_button_color;
      color: $white;
    }

    &.btn_white_border {
      background: $site_button_color;
      border: 1px solid $white;
      color: $site_button_color;

      &:hover {
        background-color: $white;
        color: $site_button_color;
      }
    }
    &.clear {
      background-color: transparent;
      color: $white;
    }
  }
}

.btn {
}
