// GRIDS

//____________________
// Landing page;
//____________________
.landing_grid_item1 { grid-area: a; }
.landing_grid_item2 { grid-area: b; }
.landing_grid_item3 { grid-area: c; }
.landing_grid_item4 { grid-area: d; }
.landing_grid_item5 { grid-area: e; }
.landing_grid_item6 { grid-area: f; }

.grid_container_landing {
  grid-gap: 0px;
  display: grid;
  grid-template-areas:
    'a'
    'b'
    'c'
    'd'
    'e'
    'f';
  padding: 0;
  width: 100vw;

  &> div {
    padding: 0;
    text-align: center;
  }

  // GRID COLORS
  .landing_grid_item1 { background: $grid_item1_background_color; }
  .landing_grid_item2 { background: $grid_item2_background_color; }
  .landing_grid_item3 { background: $grid_item3_background_color; }
  .landing_grid_item4 { background: $grid_item4_background_color; }
  .landing_grid_item5 { background: $grid_item5_background_color; }

  // GRID HEIGHT
  .landing_grid_item1 {
    min-height: 280px;
    ._grid_content_holder { height: 100vh; }
  }

  .landing_grid_item2,
  .landing_grid_item3,
  .landing_grid_item4,
  .landing_grid_item5 {
    min-height: 150px;
    ._grid_content_holder { height: 50vh; }
  }

  @include respond-above(sm)  {
    grid-template-areas:
      'a a'
      'b c'
      'd e'
      'f f';
    height: 100vh;

    .landing_grid_item1,
    .landing_grid_item2,
    .landing_grid_item3,
    .landing_grid_item4,
    .landing_grid_item5,
    .landing_grid_item6 {
      ._grid_content_holder { height: 100%; }
    }

    .landing_grid_item1 {
      border-left: 0;
      // border-bottom: 2px solid rgba(255, 255, 255, 0.8);
    }
    .landing_grid_item2 {
      border-right: 1px solid rgba(255, 255, 255, 0.8);
      border-bottom: 1px solid rgba(255, 255, 255, 0.8);
    }
    .landing_grid_item3 {
      border-left: 1px solid rgba(255, 255, 255, 0.8);
      border-bottom: 1px solid rgba(255, 255, 255, 0.8);
    }
    .landing_grid_item4 {
      border-right: 1px solid rgba(255, 255, 255, 0.8);
      border-top: 1px solid rgba(255, 255, 255, 0.8);
      border-bottom: 0;
    }
    .landing_grid_item5 {
      border-top: 1px solid rgba(255, 255, 255, 0.8);
      border-left: 1px solid rgba(255, 255, 255, 0.8);
      border-bottom: 0;
    }
    .landing_grid_item6 {
      // border-top: 2px solid rgba(255, 255, 255, 0.8);
    }
  }

  @include respond-above(md) {
    grid-template-areas:
      'a b c'
      'a b c'
      'a b c'
      'a b c'
      'a d e'
      'a d e'
      'a d e'
      'a d e'
      'f f f';
    height: 100vh;
    .landing_grid_item1 {
      border-bottom: 0;
      // border-right: 2px solid rgba(255, 255, 255, 0.8);
    }
    .landing_grid_item2 {
      border-right: 1px solid rgba(255, 255, 255, 0.8);
      border-bottom: 1px solid rgba(255, 255, 255, 0.8);
    }
    .landing_grid_item3 {
      border-left: 1px solid rgba(255, 255, 255, 0.8);
      border-bottom: 1px solid rgba(255, 255, 255, 0.8);
    }
    .landing_grid_item4 {
      border-right: 1px solid rgba(255, 255, 255, 0.8);
      border-top: 1px solid rgba(255, 255, 255, 0.8);
    }
    .landing_grid_item5 {
      border-top: 1px solid rgba(255, 255, 255, 0.8);
      border-left: 1px solid rgba(255, 255, 255, 0.8);
    }
    .landing_grid_item6 {
      // border-top: 2px solid rgba(255, 255, 255, 0.8);
    }
  }
}
